# Tests
dateValidityTest.c
testing.txt
inputFile.txt
inputFileUniLinuxNoDupe10k.txt
test

# Random files (debugging output, notepad++ sessions, etc.) 
appSession
massif.out.*
"Σχεδιαστικές Αποφάσεις.txt"
h39jdk2.c

# Prerequisites
*.d

# Object files
build/*
testbuild/*
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
vaccineMonitor
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
